/*   General   */

* {
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s ease;
}

a {
    color: inherit
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 17px;
}

h2 {
    font-size: 2em;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

html, body {
  height: 100%;
  margin: 0;
}


body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0;
    margin: 0;
    flex: 1;
}

section, .section {
    padding: 0 20px;
    margin: 80px 0;
}

.post-tile {
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post-tile img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 7px;
}

.post-tile .post-info {
    margin-top: auto
}

form  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
form .form-segment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .form-segment:nth-of-type(3) {
    grid-column: span 2;
} 

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form textarea {
    resize: vertical;
    height: 200px;
    font-family: inherit;
    grid-column: span 2;
}

form button, .edit-button {
    background: #5a5a5a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
    font-size: inherit;
}

form button[type="submit"]:hover, .edit-button:hover {
    background: #4a4a4a;
    font-size: inherit;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.delete-button {
    background-color: rgb(196, 40, 40);
}

.delete-button:hover {
    background-color: rgb(255, 131, 131) !important;
}














/*   HEADER   */

header {
    background:#5a5a5a;
    color:#fff;
    padding: 10px 20px;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

header a {
    color:#fff;
}

header nav .user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
}

header .user-info #header-greeting {
    display: flex;
    flex-direction: column;
}

header .user-info #header-greeting .header-hello {
    font-size: 0.9em;
    opacity: 0.8;
}

header nav #logout-link {
    opacity: 0.7;
}


/*   DASHBOARD NAVIGATION   */
.dnav-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 15px;
    background: #e0e0e0;
    margin: 0;
}

.dnav-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dnav-section nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 0.9em;
}






/*   CONTENT OF PAGES   */

/*   Home   */
.home-page .content {
    display: flex;
    flex-direction: column;
}
.home-page #post-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

/*   Contact   */
.contact-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.contact-page .content {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    padding-bottom: 80px;
}

.contact-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.contact-page h2 {
    text-align: center;
}
.contact-page form {
    width: 600px;
}

/*   Post   */
.post-page .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1000px;
}
.post-page .content article {
    display: flex;
    flex-direction: column;
}
.post-page:not(.comments) .content img{
    width: 100%;
    max-height: 280px;
    border-radius: 10px;
    margin: 10px 0;
    object-fit: cover;
    object-position: center;
}
.post-page .post-content h2 {
    margin-bottom: 10px;
}
.post-page .post-content h2:not(:first-of-type) {
    margin-top: 20px
}
.post-page .post-pagination {
    margin-top: 10px;
    color: #818181;
}
.post-page.comments .content {
    gap: 20px;
}
.post-page.comments .content .comment {
    display: flex;
    gap: 10px;
}
.post-page.comments .content .comment .delete-comment {
    margin-left: 10px;
    color: rgb(196, 40, 40)
}
.post-page.comments .content .comment .delete-comment:hover {
    color: rgb(255, 131, 131);
}

.post-page:not(.comments) .content > small:first-of-type {
    margin-top: -20px;
    color: #818181;
}

/*   Login / Forgot / Register   */
.login-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.login-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-grow: 1;
    padding-bottom: 80px;
}

.login-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    max-width: 300px;
}

.login-page form label {
    margin-bottom: -10px;
}

.login-page .login-links {
    color: #838383;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin-top: -10px
}

.login-page .login-links a {
    width: 100%;
    text-align: center;
}
.login-page .login-links #forgot {
    color: hsl(227, 100%, 72%);
}
.login-page .login-links #forgot:hover {
    color: hsl(227, 100%, 82%);
}

/*   Dashboard   */

.dashboard-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dashboard-page .content {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.dashboard-page .content .update-profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dashboard-page .content .update-profile form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 20px
}

.dashboard-page .content .update-profile form button[type="button"], .edit-button {
    background: rgb(168, 168, 168);
}

.dashboard-page .content .update-profile form button[type="button"]:hover, .edit-button:hover {
    background: rgb(143, 143, 143);
}

.dashboard-page .content .update-profile form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

/*   Dashboard - Posts   */
.dashboard-page.heading h2{
    margin-bottom: -10px;
}

.dashboard-page.post-editor form > * {
    grid-column: span 2;
}

.dashboard-page.post-editor form img {
    aspect-ratio: 4/3;
    width: 300px;
    object-fit: cover;
    object-position: center;
}

.dashboard-page.posts ul {
    list-style-type: circle;
}   

.dashboard-page.posts .content li {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}

.dashboard-page.posts .content li button, .dashboard-page.posts .content li .edit-button {
    padding: 5px 10px;
    font-size: 0.9em;
}

/*    Dashboard - Media   */
.media-page .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.media-page .content form {
    display: flex;
    gap: 20px;
}

.media-page .content form input[type="file"] {
    flex-grow: 1;    
}

.media-page .content form button {
    max-width: 200px;
    grid-column: span 1;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}
.media-item {
    text-align: center;
}
.media-item img{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.media-page.popup  {
    margin: 0;
    padding: 20px;
}

@media (max-width: 1200px) {
    .media-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*   Dashboard - API   */
.api-page .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.api-page form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.api-page pre {
    margin: -15px 0 10px 0;
    font-size: 16px;
}











/*    FOOTER    */
footer {
    background: #464646;
    color:#fff;
    padding: 15px 20px;
    margin-top: auto;
}

footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
}












@media (max-width:600px){
    header nav a {
        display: block;
        margin: 0.5em 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
